<div class="well">
	<a routerLink="/lugares">Lugares</a> / Crear
</div>
<div class="container">
	<label>Nombre</label>
	<input type="text" name="nombre" class="form-control" [(ngModel)]="lugar.nombre">
	<br>
	<label>Distancia</label>
	<input type="number" name="distancia" class="form-control" [(ngModel)]="lugar.distancia">
	<br>
	<label>Cercania</label>
	<input type="number" name="cercania" class="form-control" [(ngModel)]="lugar.cercania">
	<br>
	<label>Descripcion</label>
	<textarea class="form-control" [(ngModel)]="lugar.descripcion"></textarea>
	<br>
	<label>Plan</label>
	<input type="text" name="plan" class="form-control" [(ngModel)]="lugar.plan">
	<hr>
	<h3>Datos de dirección</h3>
	<label>Calle y Número</label>
	<input type="text" name="calle" class="form-control" [(ngModel)]="lugar.calle">
	<br>
	<label>Ciudad</label>
	<input type="text" name="ciudad" class="form-control" [(ngModel)]="lugar.ciudad">
	<br>
	<label>País</label>
	<input type="text" name="pais" class="form-control" [(ngModel)]="lugar.pais">
	<br>
	<a class="btn btn-primary" (click)="guardarLugar()">Enviar</a>
	<a class="btn btn-danger" routerLink="/lugares">Cancelar</a>
</div>